* { 
    padding: 0; 
    margin: 0; 
    background: black;
}

@font-face {
    font-family: '04b-30';
    src:url('webfonts_04b-30/04b-30.ttf.woff') format('woff'),
        url('webfonts_04b-30/04b-30.ttf.svg#04b-30') format('svg'),
        url('webfonts_04b-30/04b-30.ttf.eot'),
        url('webfonts_04b-30/04b-30.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* GAME CANVAS */
.gameCanvas { 
    background:transparent; 
    display: block; 
    margin: 0 auto; 
    margin-top: 100px;
    border: 3px solid #10d145;
    border-radius: 4px;
    
}

.iGLifeContainer {
    position: absolute;
    top: 74px;
    left: 92%;
    z-index: 1;
    width: 65px;
    height: auto;
}

.iGShip {
    height: 60px;
    width: 60px;
}

.iGInvis {
    height: 60px;
    width: 60px;
    visibility: hidden;
}

.iGTitle {
    font-family: '04b-30', cursive;
    color: white;
    position: absolute;
    top: 50px;
    width: 1150px;
    height: auto;
    font-size: 90px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.gameOverCanvas {
    background:transparent; 
    display: block; 
    margin: 0 auto; 
    margin-top: 100px;
    border: 3px solid red;
    border-radius: 4px;
}

/* MENU CANVAS  */
.menuCanvas {

    animation: mix 10s linear infinite alternate;
}

/* 
.vsCanvas {

}
*/

.canvas2 {
    background: transparent;
    display: block;
    margin: 0 auto; 
    margin-top: 100px;
}


/* WIN SCREEN */
#youWin {
    width: 100%;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    z-index: 100;
    text-align: center;
    color: white;
    background: transparent;
}
.winText {
    font-size: 26px;
    width: 1100px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

/* LOSE SCREEN */
#youLose {
    width: 100%;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    z-index: 100;
    text-align: center;
    color: white;
    background: transparent;
}
.loseText {
    font-size: 26px;
    width: 1100px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    }
.nextLvl {
    position: absolute;
    top: 400px;
    left: 350px;
    height: 45px;
    width: 300px;
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 18px;
    background: #10d145;
}
.reset {
    position: absolute;
    top: 400px;
    left: 350px;
    height: 45px;
    width: 300px;
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 18px;
    background: #10d145;
}
.menu {
    position: absolute;
    top: 400px;
    left: 786px;
    height: 45px;
    width: 300px;
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 18px;
    background: #10d145;
}

.button {
    background: #10d145;

}

/* MAIN SCREEN */
#main {
    width: 100%;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    z-index: 100;
    text-align: center;
    color: white;
    background: transparent;
}
.menuText {
    font-size: 26px;
    width: 900px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}
.play {
    position: absolute;
    top: 400px;
    left: 350px;
    height: 45px;
    width: 300px;
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 18px;
    background: #10d145;
}
.options {
    position: absolute;
    top: 400px;
    left: 786px;
    height: 45px;
    width: 300px;
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 18px;
    background: #10d145;
}


/* ANIMATIONS */
@keyframes mix {
    0% {border-color: #9b59b6}
    20% {border-color: pink}
    40% {border-color: yellow}
    60% {border-color: #10d145}
    80% {border-color: cyan}
    100% {border-color: blue}
}
